$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$purple-1: #747bff;
$purple-2: #646cff;
$purple-3: #535bf2;
$white-1: #ffffff;
$black-2: #1a1a1a;
$black-1: #242424;
$dark-grey: #213547;
