@use './base/reset';
@use './components/buttons';
@use './components/grid';
@use './components/links';
@use './constants';

:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: constants.$white-1;
  color-scheme: dark light;
  color: constants.$dark-grey;
  font-family: constants.$font-family;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: constants.$black-1;
    color: constants.$white-1;
  }
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
